
@model IEnumerable<FootBalls.Models.TblPlayer>
@{
    ViewBag.Title = "PlayerChampionship";
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
}

@if (Session["UserId"] != null)
{
<div class="topnav">
    <ul>
        <li>
            <a href="@Url.Action("Logout", "Account")">Logout</a>
        </li>
    </ul>
</div>
}
else
{
    <div class="topnav">
        @*<a href="@Url.Action("Logout", "Account")">Logout</a>*@
    </div>
}

<div class="topnav1">
    <h4>Players Championship Details</h4>
    <a href="@Url.Action("PlayerView", "PlayerDetails", new RouteValueDictionary(new { id = ViewBag.PlayerId }))" style="text-decoration:none;">Players Detail </a>
    <a>/</a>
    <a href="@Url.Action("Player", "PlayerDetails")" style="text-decoration:none;color:whitesmoke;">Home</a>

</div>



@*<div class="col-md-5 align-self-center" style="font-size:larger;">
    <h2 class="text-themecolor" style="color:blue;text-align:center;">Players championship Details</h2>
</div>

<div style="color:blue;text-align:left;font-size:larger;">
    <a href="@Url.Action("Player", "PlayerDetails")" style="text-decoration:none;">>>Home</a>
    <br /><br />
    <a href="@Url.Action("PlayerView", "PlayerDetails", new RouteValueDictionary(new { id = ViewBag.PlayerId }))" style="text-decoration:none;">Players Detail </a>
</div> *@

<br />

<div class="table-responsive">

    <table cellspacing="7" cellpadding="3" style="width:50%;">

        <thead style="border-bottom:3px solid black">
            <tr style="border-bottom:3px solid black;">
                <th style="border-bottom:3px solid black"> SN </th>
                <th style="border-bottom:3px solid black"> Championship Name </th>
                <th style="border-bottom:3px solid black"> Championship class </th>
                <th style="border-bottom:3px solid black"> Championship Sponsor </th>
                <th style="border-bottom:3px solid black"> Team Name </th>
                <th style="border-bottom:3px solid black"> Team Sponsor </th>
                <th style="border-bottom:3px solid black"> Start Date </th>
                <th style="border-bottom:3px solid black"> End Date </th>
                <th style="border-bottom:3px solid black"> Teams </th>
                <th style="border-bottom:3px solid black"> Status </th>
                <th style="border-bottom:3px solid black"> Matches Played </th>
                <th style="border-bottom:3px solid black"> Goal </th>
                <th style="border-bottom:3px solid black"> Yellow Card </th>
                <th style="border-bottom:3px solid black"> Red Card </th>
                <th style="border-bottom:3px solid black"> Min Played </th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                foreach (var items in Model)
                {
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>

                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>

                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>

                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>

                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>

                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>

                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
            }
        </tbody>

    </table>
</div>
