@model PagedList.IPagedList<FootBalls.Models.TblPlayer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@* @model IEnumerable<FootBalls.Models.TblPlayer>  *@
@{
    ViewBag.Title = "Player";
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
}

<div id="confirm">
    <div class="message">Have to Login Before Registration.</div>
    <a href="@Url.Action("Login", "Account")"><input type="button" class="yes" value="OK"></a>
</div>
<div id="confirm1">
    <div class="message1">Sorry. User already registered.</div>
    <a href="@Url.Action("Player", "PlayerDetails")"><input type="button" class="yes" value="OK"></a>
</div>
@if (Session["UserId"] != null)
{
    <div class="topnav">
        <a href="@Url.Action("Player","PlayerDetails")"><b>Player</b></a>
        <a href="@Url.Action("Referee","RefereeDetails")"><b>Referee</b></a>
        <a href="@Url.Action("Coach","CoachDetails")"><b>Coach</b></a>
        <a href="@Url.Action("Team","TeamDetails")"><b>Team</b></a>
        <a href="@Url.Action("PlayGround","PlayGroundDetails")"><b>PlayGround</b></a>
        <a href="@Url.Action("Championship","ChampionshipDetails")"><b>Championship</b></a>
        <a href="@Url.Action("PlayGroundOwner","PlayGroundOwnerDetails")"><b>PlayGroundOwner</b></a>
        <a href="@Url.Action("TeamSponsor","TeamSponsorDetails")"><b>TeamSponsor</b></a>
        <a href="@Url.Action("ChampionshipSponsor","ChampionshipSponsorDetails")"><b>ChampionshipSponsor</b></a>


        <ul>
            <li>
                <a href="@Url.Action("Logout", "Account")">Logout</a>
            </li>
        </ul>
    </div>
}
else
{
    <div class="topnav">
        @*<a href="@Url.Action("Logout", "Account")">Logout</a>*@
    </div>
}

<div class="col-md-7 align-self-center text-right">
    <div class="d-flex justify-content-end align-items-center" align="right">
        <div class="topnav1">
            <h4>Players List</h4>
            @if (Session["UserId"] != null)
            {
                if (Session["PlayerId"] != null)
                {
                    <input type="button" value="Register Player" style="background-color:aqua;" onclick='functionAlert1();' />
                }
                else
                {
                    @*<a class="btn btn-success d-none d-lg-block m-l-15" href="@Url.Action("PlayerRegistration", "PlayerDetails")"> <b> <input type="button" name="submit" value="Register Player" style="background-color:coral;" /> </b></a>*@
                    <a href="@Url.Action("PlayerRegistration", "PlayerDetails")"><input type="button" value="Register Player" style="background-color:aqua;" /> </a>
                }
            }
            else
            {
                <input type="button" value="Register Player" style="background-color:aqua;" onclick='functionAlert();' />
            }
        </div>
    </div>
</div>

@*<b>Search : </b> <input type="text" placeholder="Search Here" id="myInput" onkeyup="searchTable()" />*@

<br />
<br />
@using (Html.BeginForm("Player", "PlayerDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table cellspacing="3" cellpadding="2" style="width:50%;" frame="border" class="table table-bordered table-condensed table-striped table-hover sortable">
        <thead style="border-bottom:3px solid black">
            <tr style="border:3px solid black">
                @*<th> Search </th>*@
                <th style="border-bottom:3px solid black">@Html.TextBox("name")</th>
                <th>@Html.TextBox("weight")</th>
                <th>@Html.TextBox("height")</th>
                <th>

                    @Html.DropDownList("playingfoot", new List<SelectListItem>()
                               {
                                   new SelectListItem(){ Text = "Right", Value="1"},
                                   new SelectListItem(){ Text = "Left", Value="2"},
                                   new SelectListItem(){ Text = "Both", Value="3"}
                               }, "<Please Select>", new { @class = "mdb-select md-form" })                
                </th>
                <th>
                    @Html.TextBox("city")
                    @*@Html.DropDownList("city", (IEnumerable<SelectListItem>)ViewBag.CityList, "<Please Select>", new { @class = "mdb-select md-form", placeholder = "City" })*@
                </th>
                <th>
                    @Html.TextBox("region")
                    @*@Html.DropDownList("region", (IEnumerable<SelectListItem>)ViewBag.RegionList, "<Please Select>", new { @class = "mdb-select md-form", placeholder = "Region" })*@
                </th>
                <th>
                    @Html.TextBox("country")
                    @*@Html.DropDownList("country", (IEnumerable<SelectListItem>)ViewBag.CountryList, "<Please Select>", new { @class = "mdb-select md-form", placeholder = "Country" })*@
                </th>
                <th>
                    @Html.DropDownList("playingplace", (IEnumerable<SelectListItem>)ViewBag.PlayingPlaceList, "<Please Select>", new { @class = "mdb-select md-form", placeholder = "Playing Place" })
                </th>
                <th> <input type="submit" value="Search" style="background-color:#20c5f7;border-radius: 10px;" /></th>
                <th></th>
                <th></th>
            </tr>
            <tr class="danger" style="border-bottom:3px solid black">
                @*<th style="border-bottom:3px solid black">  </th>*@
                <th style="border-bottom:3px solid black" class="headerSortUp headerSortDown"> Name </th>
                <th style="border-bottom:3px solid black" class="headerSortUp "> Weight </th>
                <th style="border-bottom:3px solid black" class="headerSortUp "> Height </th>
                <th style="border-bottom:3px solid black" class="headerSortUp"> Playing Foot </th>
                <th style="border-bottom:3px solid black" class="headerSortUp"> City </th>
                <th style="border-bottom:3px solid black" class="headerSortUp"> Region </th>
                <th style="border-bottom:3px solid black" class="headerSortUp"> Country</th>
                <th style="border-bottom:3px solid black"> Playing Place </th>
                <th style="border-bottom:3px solid black"> Championship Played </th>
                <th style="border-bottom:3px solid black"> Matches Played </th>
                <th style="border-bottom:3px solid black"> Total Goals </th>
            </tr>
        </thead>
        <tbody id="myTable" style="border-bottom:2px solid black;">

            @if (Model != null)
            {
                foreach (var items in Model)
                {

                    <tr>

                        @*<td></td>*@
                        <td><a href="@Url.Action("PlayerView", "PlayerDetails", new RouteValueDictionary(new { id = items.PlayerId }))">@items.Player</a></td>
                        <td>@items.Weight</td>
                        <td>@items.Length</td>
                        @if (@items.PlayingFoot == 1)
                        {
                            <td> Right Foot </td>
                        }
                        else if (@items.PlayingFoot == 2)
                        {
                            <td> Left Foot </td>
                        }
                        else
                        {
                            <td> Both </td>
                        }

                        <td>@items.TblCity.City</td>
                        <td>@items.TblCity.TblRegion.Region </td>
                        <td>@items.TblCity.TblRegion.TblCountry.Country</td>
                        <td>@items.TblPlayingPlace.PlayingPlace</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        @*<td><a href="#" style="color:darkmagenta;"><input type="button" style="background-color:#41b03e;" value="Request For Player"/></a></td>*@
                    </tr>
                }
            }
        </tbody>
    </table>
}
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Player", new { page }))



    <script type="text/javascript">

           function searchTable() {
                var input, filter, found, table, tr, td, i, j;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td");
                    for (j = 0; j < td.length; j++) {
                        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                            found = true;
                        }
                    }
                    if (found) {
                        tr[i].style.display = "";
                        found = false;
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }
            }

        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').materialSelect();
        });
   @*     $(function () {
            var myTable = "#myTable";
            var myTableBody = myTable + "tbody";
            var myTableRows = myTableBody + "tr";
            var myTableColumn = myTable + "th";

            function initTable() {
                $(myTableColumn).each(function () {
                    var width = $(this).width();
                    $(this).width(width + 40);
                });

                $(myTableColumn).eq(0).addClass("sorted-asc");

                sortTable($(myTable), 0, "asc");
            }
            initTable();

            function sortTable(table, column, order) {
                var asc = order === 'asc';
                var tbody = table.find('tbody');

                tbody.find('tr').sort(function (a, b) {
                    if (asc) {
                        return $('td:eq(' + column + ')', a).text()
                            .localeCompare($('td:eq(' + column + ')', b).text());
                    }
                    else {
                        return $('td:eq(' + column + ')', b).text()
                            .localeCompare($('td:eq(' + column + ')', a).text());
                    }
                }).appendTo(tbody);
            }

            $(myTableColumn).click(function () {
                $(myTableColumn).not($(this)).removeClass("sorted-asc sorted-desc");

                if ($(this).hasClass("sorted-asc") || $(this).hasClass("sorted-desc")) {
                    $(this).toggleClass("sorted-asc sorted-desc");
                }
                else {
                    $(this).addClass("sorted-asc");
                }

                sortTable($(myTable),
                    $(this).index(), $(this).hasClass("sorted-asc") ? "asc" : "desc");
            });
        }); *@



    </script>


