

@model PagedList.IPagedList<FootBalls.Models.TblTeam>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@* @model IEnumerable<FootBalls.Models.TblPlayer>  *@
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
}

@if (TempData["Alert"] != null)
{
    string str = TempData["Alert"].ToString();

    <script>
alert('@Html.Raw(@str)');
    </script>
}

@if (Session["UserId"] != null)
{
    <div class="topnav">
        <a href="@Url.Action("Player","PlayerDetails")"><b>Player</b></a>
        <a href="@Url.Action("Referee","RefereeDetails")"><b>Referee</b></a>
        <a href="@Url.Action("Coach","CoachDetails")"><b>Coach</b></a>
        <a href="@Url.Action("Team","TeamDetails")"><b>Team</b></a>
        <a href="@Url.Action("PlayGround","PlayGroundDetails")"><b>PlayGround</b></a>
        <a href="@Url.Action("Championship","ChampionshipDetails")"><b>Championship</b></a>
        <a href="@Url.Action("PlayGroundOwner","PlayGroundOwnerDetails")"><b>PlayGroundOwner</b></a>
        <a href="@Url.Action("TeamSponsor","TeamSponsorDetails")"><b>TeamSponsor</b></a>
        <a href="@Url.Action("ChampionshipSponsor","ChampionshipSponsorDetails")"><b>ChampionshipSponsor</b></a>

        <ul>
            <li>
                <a href="@Url.Action("Logout", "Account")">Logout</a>
            </li>
        </ul>

    </div>
}
else
{
    <div class="topnav">
        @*<a href="@Url.Action("Logout", "Account")">Logout</a>*@
    </div>
}

<div class="col-md-7 align-self-center text-right">
    <div class="d-flex justify-content-end align-items-center" align="right">
        <div class="topnav1">
            <h4> Team List</h4>
            @*@if (Session["UserId"] != null)
                {
                    if (Session["TeamSponsorId"] != null)
                    {
                        <a href="@Url.Action("TeamRegistration", "TeamDetails")"><input type="button" value="Register Team" style="background-color:aqua;" /> </a>

                    }
                    else
                    {
                        <input type="button" value="Register Team" style="background-color:aqua;" onclick='functionAlert1();' />
                    }
                }
                else
                {
                    <input type="button" value="Register Team" style="background-color:aqua;" onclick='functionAlert();' />
                }*@
        </div>
    </div>
</div>
<br />
<div class="table-responsive">

    <b> search : </b> <input type="text" placeholder="Search Here" id="myInput" onkeyup="searchTable()" />


    <br />
    <br />
    @using (Html.BeginForm("Teams", "TeamDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table cellspacing="10" cellpadding="6" style="width:50%;" frame="border" class="table table-bordered table-condensed table-striped table-hover sortable">
            <thead style="border-bottom:3px solid black">
                <tr style="border:3px solid black">
                    <th style="border-bottom:3px solid black">@Html.TextBox("name")</th>
                    <th>@Html.TextBox("city")</th>
                    <th>@Html.TextBox("region")</th>
                    <th>@Html.TextBox("country")</th>
                    <th> <input type="submit" value="Search" style="background-color:#20c5f7;border-radius: 10px;" /></th>
                    <th></th>
                </tr>
                <tr class="danger" style="border-bottom:3px solid black">
                    <th style="border-bottom:3px solid black" class="headerSortUp headerSortDown">Team Name </th>
                    <th style="border-bottom:3px solid black" class="headerSortUp"> City </th>
                    <th style="border-bottom:3px solid black" class="headerSortUp"> Region </th>
                    <th style="border-bottom:3px solid black" class="headerSortUp"> Country</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="myTable" style="border-bottom:2px solid black;">

                @if (Model != null)
                {
                    foreach (var items in Model)
                    {

                        <tr>


                            @*<td><a href="@Url.Action("TeamView", "TeamDetails", new RouteValueDictionary(new { id = items.TeamId }))">@items.TeamName</a></td>*@

                            <td>@items.TeamName</td>
                            <td>@items.TblCity.City</td>
                            <td>@items.TblCity.TblRegion.Region </td>
                            <td>@items.TblCity.TblRegion.TblCountry.Country</td>
                            <td><a href="@Url.Action("TeamRequest", "TeamDetails", new RouteValueDictionary(new { id = items.TeamId }))" style="color:darkmagenta;"><input type="button" value=" Send Request" style="background-color:#f78f20;" /></a></td>
                            <th></th>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Teams", new { page }))

    </div>


<script type="text/javascript">

            function showMsg()
            {
                alert('Have to Login Before Registration');
                window.location = '@Url.Action("Login","Account")';
            }

    function showMsge() {
        alert('Only Team Sponsor can registration Team');
        window.location = '@Url.Action("Team", "TeamDetails")';
    }
           function searchTable() {
                var input, filter, found, table, tr, td, i, j;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td");
                    for (j = 0; j < td.length; j++) {
                        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                            found = true;
                        }
                    }
                    if (found) {
                        tr[i].style.display = "";
                        found = false;
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }
            }

</script>


